.arrow{
    border: 9px solid transparent;
    border-bottom-color: #3DA0DB;
    width: 0px;
    height: 0px;
    top:0px
}
.stick{
    width: 8px;
    height: 14px;
    border-radius: 1px;
    background-color: #3DA0DB;
    top:15px;
}
.u_p{
    font-size: 1px;
}
#back_top div{
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
}
#back_top{
    background-color: #dddddd;
    height: 110px;
    width: 38px;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 100px;
    display: none;
}